<div class="row"%>
  <div class="span6 offset3">
    <%= form_for [:admin, @exam] do |f| %>
    
      <%= f.label :subject %>
      <%= f.collection_select(:subject_id, Subject.all, :id, :name) %>

      <%= f.label :name %>
      <%= f.text_field :name %>

      <%= f.label :total_question %>
      <%= f.text_field :total_question %>

      <%= f.label :time_limit, "Time limit (min)" %>
      <%= f.text_field :time_limit %>

      <p><%= f.submit "Submit", class: "btn btn-large btn-primary" %></p>
    <% end %>
  </div>
</div>