<%= render 'shared/error_messages', object: f.object %>

  <%= f.label :content %>
  <%= f.text_field :content %>

  <%= f.label :subject %>
  <%= f.collection_select(:subject_id, Subject.all, :id, :name, prompt: "Select please") %>

  <%= f.label :option %>
  <table style="text-align: center" border="1">
    <thead>
      <tr>
        <th>Answer</th>
        <th>Correct</th>
      </tr>
    </thead>
    <tbody>
      <%= f.fields_for :options,4.times {Option.new} do |builder| %>
        <tr>
          <%= builder.hidden_field :question_id, value: @question.id %>
          <td><%= builder.text_field :answer %></td>
          <td><%= builder.text_field :correct %></td>
        </tr>
      <% end %>
    </tbody>
  </table>